<% @metars.each do |metar| %>
<article class="message <%= metar[1].css_class %>">
  <div class="message-header">
    <p><%= metar[1].station_id %></p>
    <a href="/locate/<%= metar[1].station_id %>" class="button is-small is-white">Locate</a>
  </div>
  <div class="message-body">
    <p><%= metar[1].raw_text %></p>
    <p><small>Last updated: <%= @last_updated %> seconds ago"</small></p>
  </div>
</article>
<% end %>
